{
	"env": {
		"node": true,
		"es6": true,
		"mocha": true
	},
	"plugins": [
		"promise",
		"json"
	],
	"extends": [
		"eslint:recommended"
	],
	"rules": {
		"no-console": "error",
		"no-trailing-spaces": "warn",
		"indent": "off",
		"no-mixed-spaces-and-tabs": "off",
		"no-unused-vars": "error",
		"promise/always-return": "warn",
		"promise/catch-or-return": "warn",
		"promise/no-return-wrap": "warn",
		"promise/param-names": "warn"
	}
}