{
	"env": {
		"node": true,
		"es6": true
	},
	"plugins": [
		"promise",
		"json"
	],
	"extends": [
		"eslint:recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "error",
		"no-trailing-spaces": "warn",
		"indent": ["error", "tab"],
		"no-mixed-spaces-and-tabs": "error",
		"no-unused-vars": "error",
		"promise/always-return": "warn",
		"promise/catch-or-return": "warn",
		"promise/no-return-wrap": "warn",
		"promise/param-names": "warn",
		"no-return-await": "error"
	}
}
