service: sixcrm
package:
  excludeDevDependencies: true
  exclude:
    - .git/**
    - bin/**
    - coverage/**
    - deployment/**
    - test/**
    - tools/**
  include:
    - serverless.yml

provider:
  name: aws
  vpc:
    securityGroupIds:
      - ${self:provider.environment.vpc_security_group}
    subnetIds:
      - ${self:provider.environment.vpc_subnet1}
      - ${self:provider.environment.vpc_subnet2}
      - ${self:provider.environment.vpc_subnet3}
  runtime: nodejs8.10
  timeout: 90
  stage: ${opt:stage, 'development'}
  region: ${file(./config/${opt:stage}/site.yml):aws.region}
  account: ${file(./config/${opt:stage}/site.yml):aws.account}
  role: arn:aws:iam::${self:provider.account}:role/sixcrm_lambda_role
  tracing: true
  deploymentBucket:
    serverSideEncryption: AES256
  environment:
    stage: ${opt:stage, self:provider.stage}
    #Technical Debt:  Are these necessary here?
    aws_region: ${opt:region, self:provider.region}
    aws_account: ${self:provider.account}
    SIX_VERBOSE: ${file(./config/${opt:stage}/site.yml):serverless.verbose}
    cloudsearch_domainendpoint: ${file(./config/controllers/configuration_acquisition.js):getCloudsearchSearchEndpoint}
    aurora_host: ${file(./config/controllers/configuration_acquisition.js):getAuroraClusterEndpoint}
    elasticsearch_endpoint: ${file(./config/controllers/configuration_acquisition.js):getElasticSearchEndpoint}
    elasticache_endpoint: ${file(./config/controllers/configuration_acquisition.js):getElastiCacheEndpoint}
    vpc_subnet1: ${file(./config/controllers/configuration_acquisition.js):getSubnet1}
    vpc_subnet2: ${file(./config/controllers/configuration_acquisition.js):getSubnet2}
    vpc_subnet3: ${file(./config/controllers/configuration_acquisition.js):getSubnet3}
    vpc_security_group: ${file(./config/controllers/configuration_acquisition.js):getSecurityGroup}
    #redshift.host: ${file(./config/controllers/configuration_acquisition.js):getRedshiftClusterEndpoint}

plugins:
  - serverless-dynamodb-local
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 3


functions:

########################
# Authorizers qualify requests passing through API Gateway
########################

  verifysignature:
    handler: handlers/authorizers/handlers.verifysignature

  verifytransactionjwt:
    handler: handlers/authorizers/handlers.verifytransactionjwt

  verifysitejwt:
    handler: handlers/authorizers/handlers.verifysitejwt

########################
# Graph Endpoint
########################

  graph:
    handler: handlers/endpoints/handlers.graph
    events:
      - http:
          path: graph/{account}
          method: post
          cors:
            origin: '*'
            maxAge: 86400
          authorizer:
            name: verifysitejwt
            resultTtlInSeconds: 0
            identitySource: method.request.header.Authorization

  publicgraph:
    handler: handlers/endpoints/handlers.publicgraph
    events:
      - http:
          path: publicgraph/
          method: post
          cors:
            origin: '*'
            maxAge: 86400


########################
# State Machine Lambdas (ForwardMessage Relays)
########################

  billtohold:
    handler: handlers/workers/forwardmessage/handlers.billtohold
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false

  recovertohold:
    handler: handlers/workers/forwardmessage/handlers.recovertohold
    events:
      - schedule:
          rate: cron(0 1 ? * FRI *)
          enabled: false

  holdtopending:
    handler: handlers/workers/forwardmessage/handlers.holdtopending
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false

  pendingtoshipped:
    handler: handlers/workers/forwardmessage/handlers.pendingtoshipped
    events:
      - schedule:
          rate: rate(6 hours)
          enabled: false

  shippedtodelivered:
    handler: handlers/workers/forwardmessage/handlers.shippedtodelivered
    events:
      - schedule:
          rate: rate(6 hours)
          enabled: false

  deliveredtoarchive:
    handler: handlers/workers/forwardmessage/handlers.deliveredtoarchive
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false
    environment:
      archivefilter: 'all'

  holdtoarchive:
    handler: handlers/workers/forwardmessage/handlers.holdtoarchive
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false
    environment:
      archivefilter: 'noship'

  rebilltoarchive:
    handler: handlers/workers/forwardmessage/handlers.rebilltoarchive
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false
    environment:
      archivefilter: 'all'

  recovertoarchive:
    handler: handlers/workers/forwardmessage/handlers.recovertoarchive
    events:
      - schedule:
          rate: rate(6 hours)
          enabled: false
    environment:
      archivefilter: 'twoattempts'

  indextoarchive:
    handler: handlers/workers/forwardmessage/handlers.indextoarchive
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false
    environment:
      archivefilter: 'all'

  #Technical Debt:  Is this deprecated?
  sendnotificationstoarchive:
    handler: handlers/workers/forwardmessage/handlers.sendnotificationstoarchive
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: false
    environment:
      archivefilter: 'all'

  pickrebillstobill:
    handler: handlers/workers/forwardmessage/handlers.pickrebillstobill
    events:
      - schedule:
          rate: rate(10 minutes)
          enabled: false

########################
# SNS Workers
########################
  customeremail:
    handler: handlers/workers/sns/handlers.customeremail

  trackingevents:
    handler: handlers/workers/sns/handlers.trackingevents

  notificationevents:
    handler: handlers/workers/sns/handlers.notificationevents

#  eventhooks:
#    handler: handlers/workers/eventhooks/handler.eventhooks

  analyticseventhandler:
    handler: handlers/workers/handlers.analyticseventhandler
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: true

  reindex:
    handler: handlers/workers/handlers.reindex
    events:
      - schedule:
          rate: rate(60 minutes)
          enabled: true

  #sesnotifications:
  #  handler: handlers/workers/sesnotifications/handler.sesnotifications
  #  events:
  #    - sns:
  #        topicName: SESNotifications
  #        displayName: SES Notifications


########################
# Transaction Endpoints  (initial customer entrypoint)
########################

  acquiretoken:
    handler: handlers/endpoints/handlers.acquiretoken
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: token/acquire/{account}
         method: post
         cors: true
         authorizer:
            name: verifysignature
            resultTtlInSeconds: 0
            identitySource: method.request.header.Authorization

  createlead:
    handler: handlers/endpoints/handlers.createlead
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: lead/create/{account}
         method: post
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

  createorder:
    handler: handlers/endpoints/handlers.createorder
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: order/create/{account}
         method: post
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

  confirmorder:
    handler: handlers/endpoints/handlers.confirmorder
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: order/confirm/{account}
         method: get
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

  info:
    handler: handlers/endpoints/handlers.info
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: info/{account}
         method: post
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

  tracking:
    handler: handlers/endpoints/handlers.tracking
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: tracking/{account}
         method: post
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

  checkout:
    handler: handlers/endpoints/handlers.checkout
    timeout: 29
    events:
      - http:
         #note:  Account shouldn't be necessary here...
         path: checkout/{account}
         method: post
         cors: true
         authorizer:
           name: verifytransactionjwt
           resultTtlInSeconds: 0
           identitySource: method.request.header.Authorization

########################
# Utility
########################

  logger:
    handler: handlers/handlers.logger
